.error {
    color: var(--black);
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .error-content {
    margin: 0 40px;
    text-align: center;
  }
  
  .error-number {
    font-size: 96px;
    font-weight: 700;
    margin: 0;
  }
  
  .error-text {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
  }
  
  .error-link {
    color: var(--grays);
    font-size: 14px;
    font-weight: 500;
    margin-top: 133px;
  }
  
  .error-link:hover {
    color: var(--light-green);
    border-bottom: var(--light-green) 1px solid;
  }
  
  @media screen and (max-width: 950px) {
    .error {
      text-align: center;
    }
  }